
.color-main{
    color: #271B4E;
}

.color-main-2{
    color: #E3E2DF;
}
.color-sup-1{
    color: #9074B4;
}
.color-sup-2{
    color: #3E2C7A;
}
.color-sup-3{
    color: #EF509D;
}
.gradients{
    background-image :linear-gradient(120deg,#ef505d,#EF509D,#ef505d);
}